<?xml version="1.0" encoding="UTF-8"?>

<configuration scanPeriod="30 seconds" debug="false">

    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <property name="log.charset" value="utf-8" />
    <property name="log.path" value="${spring.application.name}" />
    <property name="log.pattern"
              value="%red(%d{yyyy-MM-dd HH:mm:ss})[%thread]%highlight(%-5level) %boldMagenta(%logger{36}) [traceId=%X{trace_id}, spanId=%X{span_id}] - %msg%n" />

<!--     控制台日志：输出全部日志到控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>


    <!--普通日志输出到控制台 -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>


</configuration>
